body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

a {
    text-decoration: none;
    color : #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    margin : 0;
    padding : 0;
    font-size: 18px;
  
}

button,
.action
{
    background-color: #3882F6;
    padding: 6px 24px;
    border-radius: 8px;
    color : white;
    font-weight: 800;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;


}
    .containertop {
        display: flex;
        justify-content: space-around;
        align-items: center;


    }
    .containertop > h2 {
        color : #F9FAF8;
        font-size: 24px;
    }

    .menu {
        display : flex;
        justify-content: flex-end;
        margin-right: 20px;
        gap : 20px;
        flex-wrap: wrap;

    }

.containertop img {
        width: 100px;
        height: auto;

    }

.middlehead {
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding : 50px;

}
    .middlehead-left {
        flex : 0 0 400px;
    }
    .middlehead-right img {
        border-radius: 10px;
        width: 400px;

    }
    .middlehead-left > h2 {
        font-size: 48px;
        color : #F9FAF8;
        font-weight:800;
    }

    .middlehead-left > p {
        color : white;
    }

.container {
    display : flex;
    flex-direction: column;
    align-items: center;
 
}

    .h2cards{
        color : #1F2937;
        font-size: 24px;
        font-weight: 800;
        display : flex;
    }

    .container-bot {
        display: flex;
        gap : 40px;
        margin-bottom: 40px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        }
            .cards img{
                width: 250px;
                border-radius: 10px;
            }

    .quote {
        background-color: #E5E7EB;
        color : #1F2937;
        font-style: italic;
        font-size: 36px;
        display : flex;

        align-items: center;
        flex-direction: column;
    }

.containeraction {

    display: flex;
    justify-content: center;
    padding : 100px;


}
    .action {
        background-color: #3882F6;
        color : white;
        display : flex;
        justify-content: space-around;
        flex-basis : 50%;
        padding : 20px;
    }

.footer {
    background-color: #1F2937;
    color : white;
    font-size: 24px;
    text-align: center;
}
